:root{
    --container-width: 60%;
}

/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* generics */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
}

/* header */

/* header navbar */
.header-navbar{
    min-height: 75px;
    background-color: #add8e6;
}

.navbar-wrapper{
    width: var(--container-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}    

.header-item{
    display: flex;
    background-color: #daa520;
    border: 2px dashed black;
    padding: 10px;
}

.header-link{
    width: 60%;    
    justify-content: center;
    flex-grow: 5;
}

.header-logo,
.header-login{
    width: 20%;
}

.list-item{
    display: inline-block;
    margin: 0 5px;
}

.list-item > a{
    text-decoration: none;
    color: black;
}

.header-login{
    justify-content: flex-end;
}

/* header introduction */
.header-introduction{
    background-color: #00008b;
    min-height: 500px;
}

.introduction-container{
    width: 45%;
    min-height: 400px;
    border: 2px dashed black;    
    background-color: #ee82ee;
}